body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff66b2;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.content {
    margin: 20px;
}

body.contact {
    background-color: #fff6e5; /* Light yellow background for the contact page */
}

header.contact {
    background-color: #ffd699; /* Light yellow background for the header on contact page */
}

h2.contact {
    color: #ff9900; /* Dark yellow heading color for the contact page */
}

p.contact {
    margin-bottom: 10px;
}

a.contact {
    color: #cc6600; /* Dark orange link color for the contact page */
}

a.contact:hover {
    text-decoration: underline;
}
