body {
    font-family: Arial, sans-serif;
    background-color: #ffd9eb;
}

header {
    background-color: #ff66b2;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.content {
    margin: 20px;
}

body.contact {
    background-color: #ffffcc;
}

body.hobbies {
    background-color: #ffffcc;
}

body.about {
    background-color: #ffffcc;
}

h1, h2, h3 {
    color: #ff1493;
}

