{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <!-- TODO: Implement the logic to populate the select menu with the user's stocks -->
        <div class="mb-3">
            <select class="form-select" name="symbol">
                <option value="" disabled selected>Select Stock to Sell</option>
                <!-- TODO: Dynamically populate options based on user's stocks -->
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
